.body {
    height: 1245px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 24px 120px 0px 120px;
    align-items: center;
}

.prompthead {
    font-size: 24px;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 1144px;
    height: 101px;
    padding: 36px;
    border-style: solid;
    border-color: #262626;
    border-width: 1px 1px 0px 1px;
    border-radius: 30px 30px 0px 0px;
    background-color: #0A0B0F;
}

.promptbody {
    width: 1144px;
    height: auto;
    padding: 36px;
    display: flex;
    flex-direction: row;
    gap: 36px;
    background-color: #0A0B0F;
    border-style: solid;
    border-color: #262626;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 30px 30px;
}

.imageinput {
    width: 300px;
    height: 400px;
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #524FEF1A;
    border: 2px dashed #524FF0;
    border-radius: 16px;
    color: white;
    gap: 16px;
}

#imageinput {
    width: 137px;
    height: 39px;
    background-color: #524FF0;
    border-radius: 8px;
    text-align: center;
    padding: 10px 24px 10px 24px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#clear {
    width: 114px;
    height: 43px;
    padding: 12px 24px 12px 24px;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    font-family: "Inter";
    cursor: pointer;
}

#create {
    width: 125px;
    height: 43px;
    padding: 12px 24px 12px 24px;
    background-color: #524FF0;
    color: white;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    font-family: "Inter";
    cursor: pointer;
}