.body {
  display: flex;
  flex-direction: column;
  padding: 16px 120px 0;
  gap: 24px;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.context {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 100%;
  margin: 0 auto;
}

/* ===== Left side (Prompt Card) ===== */
.bigPromptCard {
  display: flex;
  flex-direction: column;
}

.image {
  max-height: 700px;
  aspect-ratio: 3 / 4;
  background-color: #1f1f1f;
  border: 1px solid #262626;
  border-radius: 30px 30px 0 0;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.describe {
  background-color: #0A0B0F;
  border: 1px solid #262626;
  border-top: none;
  border-radius: 0 0 30px 30px;
  padding: 12px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}

#profilename {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8B9096;
}

.profile-icon {
  border-radius: 50%;
  background-color: white;
  width: 24px;
  height: 24px;
}

/* ===== Right side (Prompt form) ===== */
.prompt {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.prompthead {
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 36px;
  border: 1px solid #262626;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  background-color: #0A0B0F;
}

.promptbody {
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #0A0B0F;
  border: 1px solid #262626;
  border-radius: 0 0 30px 30px;
}

.imageinput {
  width: 100%;
  max-height: 400px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #524FEF1A;
  border: 2px dashed #524FF0;
  border-radius: 16px;
  color: white;
  gap: 16px;
  text-align: center;
}


.imageinput:hover {
    background-color: #524ff01a;
    border-color: #524ff0;
}

.imageinput.previewing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    display: block;
}

#browse-btn {
  background-color: #524FF0;
  border-radius: 8px;
  padding: 10px 24px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

#browse-btn:hover {
    background-color: #3b39c7;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  color: white;
  font-weight: 500;
  margin: 0;
}

.textbox {
  height: 195px;
  padding: 12px 16px;
  background-color: #0D1219;
  border: 1px solid #262626;
  border-radius: 16px;
  color: #8B9096;
  font-size: 16px;
  resize: none;
}

.textbox:focus {
    border: solid 1px #524FF0;
    color: #fff;
    outline: none;
}

#generateimage {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 43px;
  padding: 12px 24px;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(to right, #9520FB, #524FF0);
  border: none;
  cursor: pointer;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 1024px) {
  .body {
    padding: 24px 80px;
  }

  .context {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .bigPromptCard {
    flex-direction: column-reverse;
  }

  .describe {
    border: 1px solid #262626;
    border-radius: 30px 30px 0 0;
    border-bottom: none;
  }

  .image {
    border-radius: 0px 0px 30px 30px;
    height: 600px;
  }


  .bigPromptCard,
  .prompt {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .body {
    padding: 24px 24px;
  }

  .page-title {
    font-size: 20px;
  }

  .prompthead {
    font-size: 16px;
  }

  .bigPromptCard,
  .prompt {
      width: 100%;
  }

  .image {
    height: auto;
  }

}