.body {
    display: flex;
    flex-direction: column;
    height: 1135px;
    padding: 36px 120px 0px 120px;
}

.hero {
    width: 1272px;
    height: 66px;
    display: flex;
    /* font-family: 'Inter'; */
    flex-direction: column;
    align-items: center;
}

.banner {
    margin: 0px 0px 0px 0px;
    width: auto;
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
}

.promptCardImage {
    background-color: #1f1f1f;
    width: 460px;
    height: 614px;
    border-radius: 30px;
}

.CardHandle {
    margin: 36px 0px 0px 0px;
    width: 1272px;
    height: 614px;
    display: flex;
    /* font-family: 'Inter'; */
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Download {
    margin: 546px 0px 0px 392px;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: none;
    padding: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    color: #1f1f1f;
    text-align: center;
    font-weight: 600;
    flex-grow: 1;
    cursor: pointer;
}